.form-container{
    margin: auto;
    margin-top: 50px;
    width: 50%;
    height: 200px;
    border: 1px solid gray;
    padding: 20px;
}

.location{
    float: right;
    
}
.discription{
    margin-left: 10%;
    width: 80%;    
}
.post-divs {
    margin: auto;
    margin-bottom: 20px;
}
.post-button{
    width: 100px;
    height: 40px;
    margin-left: 38%;
}